* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

:root {
    --blue-ncs: #108DCDff;
    --raw-umber: #955F3Cff;
    --yale-blue: rgb(16, 34, 56);
    --cerulean: #236B87ff;
    --myrtle-green: rgb(217, 252, 253);
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--myrtle-green);
}

header,
footer {
    height: 50px;
    display: flex;
    place-content: center;
    place-items: center;
}

header {
    border-bottom: 3px solid;
}

header h1 {
    letter-spacing: 1px;
    font-weight: 400;
    font-size: medium;
}

footer {
    border-top: 3px solid;
}

footer ul li {
    display: inline;
}

footer li {
    margin: 0 20px;
}

main {
    flex: 1;
    width: 100%;
    display: flex;
    place-content: center;
    place-items: center;
}

.projectContainer {
    display: flex;
    flex-direction: column;
    place-items: center;
    min-width: 90%;
    height: 80%;
    border: 1px solid;
}

.projectContainer h2 {
    font-size: 6em;
    font-style: italic;
    font-weight: 900;
    background: url('/images/space.jpg');
    background-position: center;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    filter: drop-shadow(0 0 1px var(--cerulean));
}

/* form styles */

form {
    display: inline;
}

#button {
    display: inline;
}